<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>practice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductPriceCalServlet</display-name>
    <servlet-name>ProductPriceCalServlet</servlet-name>
    <servlet-class>com.ohgiraffers.practice.ProductPriceCalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPriceCalServlet</servlet-name>
    <url-pattern>/ProductPriceCalServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PracticeFilter</display-name>
    <filter-name>PracticeFilter</filter-name>
    <filter-class>com.ohgiraffers.practice.PracticeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PracticeFilter</filter-name>
    <url-pattern>/PracticeFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PracticeForward</display-name>
    <servlet-name>PracticeForward</servlet-name>
    <servlet-class>com.ohgiraffers.practice.PracticeForward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PracticeForward</servlet-name>
    <url-pattern>/PracticeForward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PracticeCookieSessionRedirectServlet</display-name>
    <servlet-name>PracticeCookieSessionRedirectServlet</servlet-name>
    <servlet-class>com.ohgiraffers.practice.PracticeCookieSessionRedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PracticeCookieSessionRedirectServlet</servlet-name>
    <url-pattern>/PracticeCookieSessionRedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PracticeRedirectCardServlet</display-name>
    <servlet-name>PracticeRedirectCardServlet</servlet-name>
    <servlet-class>com.ohgiraffers.practice.PracticeRedirectCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PracticeRedirectCardServlet</servlet-name>
    <url-pattern>/PracticeRedirectCardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet111</display-name>
    <servlet-name>Servlet111</servlet-name>
    <servlet-class>com.ohgiraffers.practice.Servlet111</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet111</servlet-name>
    <url-pattern>/Servlet111</url-pattern>
  </servlet-mapping>
</web-app>